# Environment variables and secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
rags/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
# data/
# chroma_db/
# *.pdf

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/
